.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card_img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card_content {
    height: 200px;
    overflow: auto;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
}

.card_content > p:first-of-type {
    margin-top: 0;
}

.card_content > p:last-of-type {
    margin-bottom: 0;
}

.card_info {
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card_info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card_link {
    color: green;
    text-decoration: none;
}

.card_link:hover {
    text-decoration: underline;
}