* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}

li, a {
	text-decoration: none;
	list-style: none;
}

/*
content wont overlap with footer
a bit hacky but it works nonetheless
*/
body {
	margin-top: 42px;
	margin-bottom: 90px;
	background-color: #6A92F2;
}

.banner {
	display: block;
	overflow: hidden;
}

.banner .wallpaper {
	width: 100%;
	height: 500px;
	object-fit: cover;
	object-position: right bottom;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #343a40;
	color: #fff;
	margin-top: 20px;
	padding: 15px;
}