* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}

li, a {
	text-decoration: none;
	list-style: none;
}

/*
content wont overlap with footer
a bit hacky but it works nonetheless
*/
body {
	background-color: #e5e1d8;
	margin-top: 42px;
	margin-bottom: 90px;
}

.banner {
	display: block;
	overflow: hidden;
}

.banner .wallpaper {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

iframe {
	display: block;
	margin: auto;
}

article {
	display: block;
	white-space: pre-wrap;
}

article p {
	background-color: black;
	color: white;
	font-size: 20px;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #343a40;
	color: #fff;
	margin-top: 20px;
	padding: 15px;
}