* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}

li, a {
	text-decoration: none;
	list-style: none;
}

/*
content wont overlap with footer
a bit hacky but it works nonetheless
*/
body {
	background-color: #e5e1d8;
	margin-bottom: 90px;
}

header nav {
	z-index: 1000;
	position: fixed;
	top: 0px;
	width: 100%;
	background: #343a40;
}

header nav a {
	float: left;
	display: inline-block;
	padding: 15px 17px;
	color: white;
}

header nav a:hover {
	color: aqua;
	transition: all 0.5s ease;
}

header nav a.home {
	margin-right: 8px;
	background-color: #800080;
}

header nav a.home:hover {
	color: gold;
}

header nav .dropdown {
	overflow: hidden;
}

header nav .dropdown .dropdown_btn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 15px 17px;
	background-color: inherit;
	font-family: inherit;
	margin: 0px;
}

header nav .dropdown .dropdown_content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

header nav .dropdown .dropdown_content a {
	float: none;
	color: white;
	padding: 12px 16px;
	display: block;
	text-align: left;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav .dropdown .dropdown_content a:hover {
	background-color: #4a54db;
}

header nav .dropdown:hover .dropdown_content {
	display: block;
	background-color: #373a3d;
}

.banner {
	display: inline-block;
	overflow: hidden;
}

.banner .wallpaper {
	display: block;
	filter: blur(5px);
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	transition: all 1.2s ease;
}

.banner .wallpaper:hover {
	transform: scale(1.2);
}

.banner .txt {
	pointer-events: none;
	color: white;
	font-size: 12px;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
	width: 80%;
	padding: 20px;
	text-align: center;
	z-index: 1;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #343a40;
	color: #fff;
	margin-top: 20px;
	padding: 15px;
}