* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}

li, a {
	text-decoration: none;
	list-style: none;
}

/*
content wont overlap with footer
a bit hacky but it works nonetheless
*/
body {
	margin-bottom: 100px;
}

header nav .nav_links {
	background: #343a40;
}

header nav .nav_links li {
	margin: 10px;
	padding: 5px;
	display: inline-block;
}

header nav .nav_links li a {
	color: white;
}

header nav .nav_links li:hover a {
	color: aqua;
	transition: all 0.5s ease;
}

.banner {
	display: inline-block;
	overflow: hidden;
}

.banner .wallpaper {
	display: block;
	filter: blur(8px);
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	transition: all 1.2s ease;
}

.banner .wallpaper:hover {
	transform: scale(1.2);
}

.banner .txt {
	pointer-events: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -200%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #343a40;
	color: #fff;
	margin-top: 20px;
	padding: 15px;
}