* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}

li, a {
	text-decoration: none;
	list-style: none;
}

header .title {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background: #448ee4;
	padding: 10px;
}

header nav .nav_links {
	background: #343a40;
}

header nav .nav_links li {
	margin: 10px;
	padding: 5px;
	display: inline-block;
}

header nav .nav_links li a {
	color: white;
}

header nav .nav_links li:hover a {
	color: aqua;
	transition: all 0.5s ease;
}

.wallpaper {
	width: 100%;
	height: auto;
}

footer {
	position: relative;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #343a40;
	color: #fff;
	margin-top: 20px;
	padding: 15px;
}