h2 {
	color: white;
	font-size: 80px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

/*https://stackoverflow.com/questions/24579785/force-iframe-youtube-video-to-center-fit-and-full-cover-the-screen-in-the-backgr*/
.video {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.video iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100vw;
	height: 100vh;
	transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
	.video iframe {
		height: 56.25vw;
	}
}

@media (max-aspect-ratio: 16/9) {
	.video iframe {
		width: 177.78vh;
	}
}

article {
	max-width: 80%;
	margin: auto;
	padding: 10px;
	white-space: pre-wrap;
}

article p {
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: white;
	padding: 20px;
	font-weight: bold;
	font-size: 20px;
	border-radius: 20px;
}

article img {
	border-radius: 10px;
	max-width: 100%;
	max-height: 100%;
}